* {
	margin:0;
	padding:0;

}

body {
	width: 100%;
	height: 100%;
	background-color: #2d2d2d;
}

body header {

	height: 20%;
	width: 100%;
	background-color: black; 
}

header .logo {
	height: 100%;
	width: 19.7%;

}

header .jaguar {
	height: 100%;
	width: 18%;
	margin-left: 51%;
}

nav {
	width: 19.7%;
	float: left
}

nav ul li {
	list-style: none;
	padding: 6%;
	text-align: center;
	background-color: #2d2d2d;
}
nav ul li a {
	text-decoration:none;
	color: black; 
}
nav ul li a:hover {
	text-decoration:none; 
	color: #2d2d2d; 
	background-color: white;
}
nav ul li:hover {
	background-color: white;
	color: #2d2d2d; 
}

section {
	background: linear-gradient(white, grey);
	width: 99.7%;
	padding: 0.09%;
}

section p {
	width: 60%;
	float: left;
}

.carro{
	width: 15%;

}

h2 {
	margin-left: 30%;
	position: relative;
}

.clear {
	clear: both;
}